body{
    background-color: black;
}


.main{
    text-align: center;
    margin-top: 80px;
}
input{
    padding: 15px;
    border: none;
    width: 300px;
border-radius: 7px;
text-align: center;
}
.btn{
    
    padding: 15px;
    border: none;
    border-radius: 7px;
}